@font-face {
  font-family: 'Agency FB';
  src: url('fonts/AGENCYB.TTF') format('truetype');
}

body {
  margin: 0;
  font-family: 'Agency FB';
  font-weight: bold;
  background-color: #16f50f;
}

#main {
  margin: 0 auto;
  width: 900px;
  height: 100%;
}

#header {
  top: 0;
  position: fixed;
  width: 900px;
  height: auto;
  z-index: 10;
  background-color: #16f50f;
}

#logo {
  float: left;
  height: 125px;
  margin: 15px 15px 15px 0px;
}

ul {
  margin-left: 0px;
  margin-top: 40px;
  float: left;
  list-style-type: none;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  padding: 20px;
  text-decoration: none;
  font-size: 35px;
  cursor: pointer;
  -webkit-filter: opacity(1);
  filter: opacity(1);
  -webkit-transition: -webkit-filter 0.2s;
  /* Safari */
  transition: filter 0.2s;
}

li a:hover {
-webkit-filter: opacity(.6);
filter: opacity(.6);
}

#tickets {
  cursor: pointer;
  margin: 0 auto;
  display: block;
  width: 350px;
  margin-top: 200px;
  -webkit-filter: opacity(1);
  filter: opacity(1);
  -webkit-transition: -webkit-filter 0.2s;
  /* Safari */
  transition: filter 0.2s;
}

#tickets:hover {
  -webkit-filter: opacity(.6);
  filter: opacity(.6);
}

.title {
  color: black;
  font-size: 35px;
  margin-left: 5px;
}

#lineup {
  margin-top: 30px;
  height: 360px;
}

.DJ {
  /*width:170px; 5 DJ */
  /*height:170px; 5 DJ */
  width: 225px;
  /*4 DJ */
  height: 225px;
  /*4 DJ*/
  float: left;
}

.DJIMAGE {
  /*width:170px; 5 DJ */
  /*height:170px; 5 DJ */
  width: 215px;
  /*6 DJ */
  height: 215px;
  margin: 5px;
  /*6 DJ*/
  -webkit-filter: opacity(1);
  filter: opacity(1);
  -webkit-transition: -webkit-filter 0.2s;
  /* Safari */
  transition: filter 0.2s;
  cursor: pointer;
}

.DJIMAGE:hover {
  -webkit-filter: opacity(.8);
  filter: opacity(.8);
}

.DJNAME {
  text-align: center;
  margin-top: 5px;
  color: black;
  font-size: 35px;
}

#info {
  margin-top: 10px;
  overflow-wrap: break-word;
}

#text {
  color: black;
  font-family: arial;
  font-size: 18px;
  margin-left: 5px;
}

#footer {
  margin: 40px 0 0 5px;
  color: black;
  font-size: 20px;
  padding-bottom: 15px;
}

.jump {
  color: none;
  position: absolute;
}

#i {
  margin-top: -210px;
}

#l {
  margin-top: -180px;
}

/* mobile */
@media only screen and (min-device-width : 320px) and (max-device-width : 736px) {
  #main {
    width: auto;
    height: 100%;
  }

  #header {
    width: 100%;
    height: 170px;
  }

  #logo {
    float: none;
    width: 150px;
    height: auto;
    margin: 15px;
  }

  ul {
    width: 100%;
    margin-left: -27px;
    margin-top: 0px;
    float: none;
    list-style-type: none;
  }

  li a {
    padding: 0px;
    padding-right:20px;
    font-size: 25px;
    cursor: none;
  }

  li a:hover {
  -webkit-filter: opacity(1);
  filter: opacity(1);
  }

  #tickets {
    width: 250px;
  }

  #tickets:hover {
    -webkit-filter: opacity(1);
    filter: opacity(1);
  }

  #lineup {
    margin: 50px auto 0 auto;
    width: 190px;
    height: 1100px;
  }

  #info {
    margin: 0 auto;
    width: 90%;
  }

  .title {
    width: auto;
   text-align: center;
    margin: 0;
    color: black;
    font-size: 30px;
  }

  #footer {
    margin-top: 40px;
    text-align: center;
    color: black;
    font-size: 20px;
  }

  .DJ {
    margin: 30px 0px;
    width: 190px;
    height: 190px;
  }

  .DJIMAGE {
    cursor: none;
    width: 190px;
    height: 190px;
    margin: 0;
  }

  .DJIMAGE:hover {
    -webkit-filter: opacity(1);
    filter: opacity(1);
  }

  .DJNAME {
    text-align: center;
    margin-top: 5px;
    color: black;
    font-size: 25px;
  }
  #text {
    font-size: 15px;
  }
}
